#intro { 
    background: url(images/intro.png) 50% 0 fixed !important; 
    height: auto !important;  
    margin: 0 auto !important; 
    width: 100% !important; 
    position: relative !important; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8) !important;
    padding: 100px 0 !important;
}
#home { 
    background: url(images/home.jpg) 50% 0 fixed !important; 
    height: auto !important;  
    margin: 0 auto !important; 
    width: 100% !important; 
    position: relative !important; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8) !important;
    padding: 200px 0 !important;
}
#about { 
    background: url(images/about.png) 50% 0 fixed !important; 
    height: auto !important;
    margin: 0 auto !important; 
    width: 100% !important; 
    position: relative !important; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8) !important;
    padding: 100px 0 !important;
    color: #fff !important;
}
